<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383330759027-sl0613l7i35be329djlo4cl8uer1hi0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383330759027-sl0613l7i35be329djlo4cl8uer1hi0h</string>
	<key>API_KEY</key>
	<string>AIzaSyDMa0-FO9pxphQicTtb11Vq5wXkBPfn2Ug</string>
	<key>GCM_SENDER_ID</key>
	<string>383330759027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jourikw.Jouri</string>
	<key>PROJECT_ID</key>
	<string>jouri-cad5d</string>
	<key>STORAGE_BUCKET</key>
	<string>jouri-cad5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383330759027:ios:3df0c68f893eabc4</string>
	<key>DATABASE_URL</key>
	<string>https://jouri-cad5d.firebaseio.com</string>
</dict>
</plist>